pandas==2.1.3
peptacular==2.2.1
streamlit==1.44.0
matplotlib==3.8.2
numpy==1.26.2
plotly==5.18.0
msms-compression==0.3.0
kaleido
streamlit-permalink @ git+https://github.com/pgarrett-scripps/streamlit-permalink@0156072
streamlit-js-eval==0.1.7
requests==2.32.3
msdecon @ git+https://github.com/pgarrett-scripps/MsDecon@cba7a7f
